---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-size:   1rem;
$font-family-sans: "ff-dagny-web-pro", Helvetica, Arial, sans-serif;
$font-family-serif: "clarendon-text-pro", Georgia, serif;
$base-font-family: $font-family-sans;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-line-height-computed: $base-font-size * $base-line-height;

$spacing-unit:     2rem;

// $grey-dark:		   #251D21;
// $grey-light:       #EDF3E2;
// $blue-light:       #678E8C;
// $green-bright:     #D1DA04;
// $green-muted:      #B9C52A;

$grey-dark:		   #000110;
$teal-light:       #0195A9;
$teal-medium:      #026771;
$teal-dark:        #033940;
$green-bright:     #77C048;

$teal:             #0C6C74;
$sand:             #BE9973;
$orange:           #F57A50;
$red:              #F36252;

$text-color:       #333;
$background-color: #fff;
$brand-color:      $teal;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);





$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"normalize",
		"lib/foundation",
		"fonts",
        "base",
        "layout",
        "resume",
        "work",
        "syntax-highlighting"
;
