---
layout: default
body_class: homepage
---

<div class="wrapper">
  <h2 class="logo">{{ site.title }}</h2>
  <p class="intro">I'm a designer and developer at <a href="http://npr.org">NPR</a>, formerly of the Las Vegas Sun and the Rocky Mountain News.</p>
  <ul class="inline-list">
    <li><a href="/work/">Projects</a></li>
    <li><a href="/resume/">Résumé</a></li>
  </ul>

  <ul class="social-media-list">
      {% if site.email %}
      <li><a href="mailto:{{ site.email }}"><i class="icon-mail-1"></i></a></li>
      {% endif %}

      {% if site.facebook_username %}
      <li>
          <a href="https://facebook.com/{{ site.facebook_username }}">
              <i class="icon-facebook"></i>
          </a>
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
          <a href="https://github.com/{{ site.github_username }}">
              <i class="icon-github-circled"></i>
          </a>
      </li>
      {% endif %}

      {% if site.instagram_username %}
      <li>
          <a href="https://instagram.com/{{ site.instagram_username }}">
              <i class="icon-instagram-1"></i>
          </a>
      </li>
      {% endif %}

      {% if site.flickr_username %}
      <li>
          <a href="https://flickr.com/{{ site.flickr_username }}">
              <i class="icon-flickr"></i>
          </a>
      </li>
      {% endif %}

      {% if site.lastfm_username %}
      <li>
          <a href="http://www.last.fm/user/{{ site.linkedin_username }}">
              <i class="icon-lastfm"></i>
          </a>
      </li>
      {% endif %}

      {% if site.linkedin_username %}
      <li>
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="icon-linkedin-1"></i>
          </a>
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="icon-twitter"></i>
          </a>
      </li>
      {% endif %}
  </ul>
</div>