<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html }}{% endif %}">
    <meta name="msvalidate.01" content="958E44AEEBCFA279ED6727EE856C6D3F" />

    <script src="https://use.typekit.net/pda4fri.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {% css main %}
    <link id="favicon" rel="icon" href="{{ "/img/favicon-theme-dusk.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script>
    function getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
    }
    var themeIndex = getRandomInt(0,3)
    var themes = ['theme-dawn','theme-blue-lagoon','theme-celestial'];
    var theme = themes[themeIndex];
    var favicons = [
      '{{ "/img/favicon-theme-dawn.png" | prepend: site.baseurl }}',
      '{{ "/img/favicon-theme-blue-lagoon.png" | prepend: site.baseurl }}',
      '{{ "/img/favicon-theme-celestial.png" | prepend: site.baseurl }}'
    ]
    var favicon = favicons[themeIndex];
    document.querySelector('html').classList.add(theme);
    document.getElementById('favicon').href = favicon;
    </script>
    {% js modernizr.min %}
</head>
