<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="msvalidate.01" content="958E44AEEBCFA279ED6727EE856C6D3F" />

    <script src="https://use.typekit.net/pda4fri.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {% css main %}
    <link rel="icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% js modernizr.min %}
</head>
