/**
 * Site header
 */


 * {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 }

.homepage {
    background: #fff;
    color: $text-color;
}

.homepage .wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

 .logo {
 	// font-family: "alternate-gothic-no-2-d", sans-serif;
 	text-transform: lowercase;
 	// letter-spacing: 1rem;
    color: #000;
    font-family: $font-family-serif;
    font-size: 4rem;
 	font-weight: 700;
 	line-height: 1.1;
    vertical-align: top;
 }

 .intro {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;

    a {
    	font-weight: 700;
        color: $blue;

    	&:hover {
	    	color: $text-color;
	    	text-decoration: none;
	    }
    }

    + .inline-list {
        font-size: $base-font-size;
        // letter-spacing: 0.1rem;

        a {
            color: $blue;
            font-weight: 400;

            &:hover {
                text-decoration: none;
                color: $text-color;
            }
        }
    }
 }

 .social-media-list {
     list-style: none;
     margin: 0;

     li {
         display: inline-block;
         font-size: 1.5rem;
     }

     a {
        color: $grey-color-dark;

        &:hover {
            color: $blue;
        }
     }
 }

 .header-small {
    // @include grid-row();
    border-bottom: 1px solid $grey-color-light;
    overflow: hidden;

    .tab-bar {
        background: #fff;
    }

    h2 {
        margin-bottom: 0;
    }

    h2 a {
        display: inline-block;
        font-weight: normal;
        font-family: $font-family-serif;
        font-size: $base-font-size * 1.2;
        font-weight: 700;
        text-transform: lowercase;
        vertical-align: middle;
        line-height: 2.8125rem;
        margin-left: 1rem;
        cursor: pointer;
        color: transparent;
        @include transition(color 200ms ease-in-out);

        .first {
            color: #fff;

            &:before {
                display: block;
                content: ' ';
                background: $blue;
                width: 2rem;
                height: 2rem;
                position: absolute;
                left: -0.5rem;
                top: 0.35rem;
                z-index: -1;
                // opacity: 1;
                @include radius(1rem);
                @include transform(scale(1));
                @include transition(all 200ms ease-in-out);
                -webkit-backface-visibility: hidden;
            }
        }

        .no-touch {
            &:hover {
                text-decoration: none;
                color: $blue;

                .first {
                    color: $blue;

                    &:before {
                        // opacity: 0;
                        @include transform(scale(0));
                    }
                }
            }
        }

    }

    .inline-list {
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .inline-list li {
        line-height: 2.8125rem;
    }

    .right-small {
        border-color: $grey-color-light;
    }

    .menu-icon span:after {
        box-shadow: 0 0 0 1px #111, 0 7px 0 1px #111, 0 14px 0 1px #111;
    }

    .tab-bar-section {
        padding: 0;
    }
 }

 .page-header {
    overflow: hidden;

    h1 {
        font-family: $font-family-sans;
        margin: $base-line-height-computed * 2 0 $base-line-height-computed;
        color: #111;
        font-weight: 900;
    }
 }

 .right-off-canvas-menu {
    background: $blue;

    ul.off-canvas-list li a {
        color: #fff;
        border-color: fade-out(#fff, 0.5);
    }
 }