/**
 * Site header
 */

.title-card {
    padding-top: 2rem;
    background: $blue;
    color: #fff;
    height: 100%;
}

.title-card .wrapper {
    margin-top: 0;
    width: auto;
    padding: 0;

    @media #{$medium-up} {
        padding-left: $column-gutter / 2;
        padding-right: $column-gutter / 2;
        position: absolute;
        width: auto;
        left: 0;
        right: 50%;
        top: 50%;
        margin-top: 0;
        @include transform(translateY(-50%));
    }
}

.title-card .portrait {
    padding-bottom: 100%;
    background-size: cover;
    background-image: url('../img/blue.jpg');
    background-position: center center;

    @media #{$small-only} {
        width: 100%;
        padding-bottom: 60%;
        background-image: url('../img/blue_sm.jpg');
        // margin: 0 -($column-gutter / 2);
        // @include calc(width, "100% + #{$column-gutter}");
    }

    @media #{$medium-up} {
        padding-bottom: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        left: 50%;
        
        @media (orientation: portrait) and (device-aspect-ratio: 3/4) {
            background-position: 15% center;
        }
    }
}

.logo {
 	text-transform: lowercase;
    color: #fff;
    font-family: $font-family-serif;
    font-size: 10vw;
 	font-weight: 700;
 	line-height: 1.1;
    vertical-align: top;
    padding-bottom: 1rem;

    @media #{$medium-up} {
        padding-bottom: 0;
        font-size: 5vw;
    }
}

.intro {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1;

    @media #{$small-only} {
        margin-top: 2rem;
    }

    @media #{$medium-up} {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2;
    }

    a {
    	font-weight: 700;
        color: #000;

    	&:hover {
	    	color: #fff;
	    	text-decoration: none;
	    }
    }
}

.title-card-nav {
    font-size: $base-font-size;
    margin-left: 0;

    > li {
        margin-left: 0;
        margin-right: 1.5rem;
    }

    a {
        color: #000;
        font-weight: 400;
        text-transform: lowercase;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.social-media-list {
    list-style: none;
    margin: 0;

    li {
        display: inline-block;
        font-size: 1.5rem;

        &:first-child {
           margin-left: -0.2rem;
        }
    }

    a {
        color: #000;

        &:hover {
            color: #fff;
        }
    }

    @media #{$small-only} {
        padding-bottom: $base-line-height-computed * 2;
    }

 }

 .title-card .logo,
 .title-card .intro,
 .title-card .inline-list,
 .title-card .social-media-list {
    @media #{$small-only} {
        text-align: center;
        margin-left: $column-gutter / 2;
        margin-right: $column-gutter / 2;

        li {
            float: none;
            display: inline-block;
        }
    }
 }

 .header-small {
    // @include grid-row();
    border-bottom: 1px solid $grey-color-light;
    overflow: hidden;

    .tab-bar {
        background: #fff;
    }

    h2 {
        margin-bottom: 0;
        line-height: 2.8125rem;
    }

    h2 a {
        display: inline-block;
        font-weight: normal;
        font-family: $font-family-serif;
        font-size: $base-font-size * 1.2;
        font-weight: 700;
        text-transform: lowercase;
        vertical-align: middle;
        line-height: 2.8125rem;
        margin-left: 1rem;
        cursor: pointer;
        color: transparent;
        @include transition(color 200ms ease-in-out);

        .first {
            display: inline-block;
            position: relative;
            color: #fff;
            @include transition(all 200ms ease-in-out);

            &:before {
                display: block;
                content: ' ';
                background: $blue;
                width: 2rem;
                height: 2rem;
                position: absolute;
                left: -0.55rem;
                top: 0.35rem;
                z-index: -1;
                // opacity: 1;
                @include radius(1rem);
                @include transform(scale(1));
                @include transition(all 200ms ease-in-out);
                -webkit-backface-visibility: hidden;
            }
        }

        .full {
            display: inline-block;
            color: #fff;
            @include transform(scaleX(0));
            @include transform-origin(left center);
            @include transition(all 200ms ease-in-out);
        }

        .no-touch & {
            &:hover {
                text-decoration: none;
                color: $blue;

                .first {
                    color: $blue;
                    @include transform(rotate(360deg));

                    &:before {
                        // opacity: 0;
                        @include transform(scale(0));
                    }
                }

                .full {
                    color: $blue;
                    @include transform(scaleX(1));
                }
            }
        }
    }

    .inline-list {
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .inline-list li {
        line-height: 2.8125rem;
    }

    .inline-list li a {
        text-transform: lowercase;
    }

    .right-small {
        border-color: $grey-color-light;
    }

    .menu-icon span:after {
        box-shadow: 0 0 0 1px #111, 0 7px 0 1px #111, 0 14px 0 1px #111;
    }

    .tab-bar-section {
        padding: 0;
    }
 }

 .page-header {
    overflow: hidden;

    h1 {
        font-family: $font-family-serif;
        margin: $base-line-height-computed * 2 0 $base-line-height-computed;
        color: #111;
        font-weight: 700;
        text-transform: lowercase;
    }
 }

 .right-off-canvas-menu {
    background: $blue;

    ul.off-canvas-list li a {
        color: #fff;
        border-color: fade-out(#fff, 0.5);
        text-transform: lowercase;
    }
 }