/**
 * Site header
 */

.homepage {
    background: $grey-dark;
    color: #eee;
}

.homepage .wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

 .logo {
 	// font-family: "alternate-gothic-no-2-d", sans-serif;
 	text-transform: lowercase;
 	// letter-spacing: 1rem;
    color: $red;
    font-family: $font-family-serif;
    font-size: 4rem;
 	font-weight: 600;
 	line-height: 1.1;
 }

 .intro {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;

    a {
    	font-weight: 700;

    	&:hover {
	    	color: #eee;
	    	text-decoration: none;
	    }
    }

    + .inline-list {
        text-transform: lowercase;
        font-size: $base-font-size;
        font-family: $font-family-serif;
        // letter-spacing: 0.1rem;

        a {
            color: #fff;
            font-weight: 400;
        }
    }
 }

 .social-media-list {
     list-style: none;
     margin: 0;

     li {
         display: inline-block;
         font-size: 1.5rem;
     }
 }

 .header-small {
    // @include grid-row();
    background: $red;
    color: $green-bright;

    .tab-bar {
        background: $grey-dark;
    }

    h2 {
        // @include grid-column(12);
        margin-bottom: 0;
        // padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: normal;
        font-size: $base-font-size * 1.2;
        text-transform: lowercase;
    }

    h2 a {
        color: $red;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
 }

 .page-header {
    background: $orange;
    overflow: hidden;
    margin-bottom: $base-line-height-computed;

    h1 {
        font-family: $font-family-sans;
        margin: $base-line-height-computed * 2 0 $base-line-height-computed;
        color: #fff;
    }
 }

 .right-off-canvas-menu {
    background: $green-bright;
 }