.resume {
	background: #fff;
	color: #333;
}

.resume.post {
	h2 {
		font-weight: 600;
		font-family: $font-family-sans;
		margin-top: $base-line-height-computed * 2;
		line-height: 1;
		font-size: $h3-font-size;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		font-size: $h4-font-size;
		margin-bottom: 0;
		margin-top: $base-line-height-computed;
	}

	p {
		font-weight: 400;
		line-height: 1.2;
	}

	// h3 + p {
	// 	line-height: 1.2;
	// }

	p em {
		font-style: normal;
		color: #999;
		font-weight: 400;
		font-size: $base-font-size * 0.8;
	}

	h2 + h3 + p,
	p + h3 + p {
		margin-top: $base-line-height-computed/2;
	}

	h2:first-child + h3 + p {
		margin-top: 0;
	}
}