---
layout: page
title: "Projects"
body_class: work
---
<ul class="projects small-block-grid-1 medium-block-grid-2 large-block-grid-3">
{% for project in site.data.projects reversed %}
    <li class="project">
        <a href="{{ project.url }}" class="project-poster" style="background-image: url('/img/{{ project.image }}');"></a>
        <div class="project-info">
            <h2>
                <a class="post-link" href="{{ project.url }}">{{ project.name }}</a>
            </h2>
            <p class="post-meta">{{ project.date }} {% if project.repo %} (<a href="http://github.com/{{ project.repo }}">Repo</a>) {% endif %}</a></p>
            <p class="project-description">{{ project.description }}</p>
        </div>
    </li>
{% endfor %}
</ul>