<!DOCTYPE html>
<html>

    {% include head.html %}

    <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>



        {{ content }}

        <script src="/js/jquery.min.js"></script>
        <!-- <script src="/js/foundation.js"></script>
        <script src="/js/foundation.magellan.js"></script> -->
        <script src="/js/director.min.js"></script>

        <script>
            var sizeTitleCard = function() {
                var windowHeight = $(window).height();
                $('.title-card').css({
                    height: windowHeight
                });
            }

            var scrollToElement = function($el) {
                $('html, body').animate({
                    scrollTop: $el.offset().top
                }, 500);
                return false;
            }

            var onDocumentLoad = function() {
                $('.portrait').addClass('is-visible');
            }

            var onWorkRoute = function() {
                scrollToElement($('#work'));
            }

            var onResumeRoute = function() {
                scrollToElement($('#resume'));
            }

            var routes = {
                '/work': onWorkRoute,
                '/resume': onResumeRoute
            };

            $(window).on('resize', sizeTitleCard);
            // $(document).foundation();
            var router = Router(routes);
            router.init();

            $(onDocumentLoad);
            sizeTitleCard();

        </script>
        <script>

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-146179-4']);
            _gaq.push(['_setDomainName', 'dannydebelius.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
