<!DOCTYPE html>
<html>

    {% include head.html %}

    <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>



        {{ content }}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/foundation.js"></script>
        <script src="/js/foundation.offcanvas.js"></script>

        <script>

          $(document).foundation();

        </script>
        <script>

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-146179-4']);
            _gaq.push(['_setDomainName', 'dannydebelius.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
