<!DOCTYPE html>
<html>

    {% include head.html %}

    <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>



        {{ content }}

        <script src="/js/jquery.min.js"></script>
        <!-- <script src="/js/foundation.js"></script>
        <script src="/js/foundation.magellan.js"></script> -->
        <script src="/js/director.min.js"></script>

        <script>
            var sizeTitleCard = function() {
                var windowHeight = $(window).height();
                $('.title-card').css({
                    height: windowHeight
                });
            }

            var scrollToElement = function($el) {
                var subNavHeight = $('.sub-nav').height();
                var rowMargin = parseInt($('.work').css('margin-top'));

                $('html, body').animate({
                    scrollTop: $el.offset().top - rowMargin
                }, 500);
                return false;
            }

            var onDocumentLoad = function() {
                $('.portrait').addClass('is-visible');
            }

            var onHomeRoute = function() {
                scrollToElement($('#intro'));
            }

            var onWorkRoute = function() {
                scrollToElement($('#work'));
            }

            var onResumeRoute = function() {
                scrollToElement($('#resume'));
            }

            var onNavClick = function(e) {
                e.preventDefault();
                var route = $(this).attr('href').split('/')[1];
                scrollToElement($($(this).data('target')));
                router.setRoute(route);
            }

            var routes = {
                '/intro': onHomeRoute,
                '/work': onWorkRoute,
                '/resume': onResumeRoute
            };

            $(window).on('resize', sizeTitleCard);
            $('.nav a').on('click', onNavClick);
            // $(document).foundation();
            var router = Router(routes);
            router.init();

            $(onDocumentLoad);
            sizeTitleCard();

        </script>
        <script>

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-146179-4']);
            _gaq.push(['_setDomainName', 'dannydebelius.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
