---
layout: default
---

<div data-magellan-expedition="fixed">
    <div class="row">
        <dl class="sub-nav nav">
            <dd data-magellan-arrival="intro"><a data-target="#intro" href="#/intro">Home</a></dd>
            <dd data-magellan-arrival="work"><a data-target="#work" href="#/work">Projects</a></dd>
            <dd data-magellan-arrival="resume"><a data-target="#resume" href="#/resume">Résumé</a></dd>
        </dl>
    </div>
</div>

<div id="intro" class="post title-card">
    <div class="portrait show-for-medium-up"></div>

    <div class="wrapper">
        <h2 class="logo">{{ site.title }}</h2>
        <div class="portrait show-for-small-only"></div>
        <p class="intro">I'm a designer and developer at <a href="http://nytimes.com">The New York Times</a>, formerly of NPR, the Las Vegas Sun and the Rocky Mountain News.</p>
        <ul class="inline-list title-card-nav nav">
            <li><a data-target="#work" href="#/work">Projects</a></li>
            <li><a data-target="#resume" href="#/resume">Résumé</a></li>
        </ul>

        <ul class="social-media-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}"><i class="icon-mail-1"></i></a></li>
            {% endif %}

            {% if site.facebook_username %}
            <li>
                <a href="https://facebook.com/{{ site.facebook_username }}">
                    <i class="icon-facebook"></i>
                </a>
            </li>
            {% endif %}

            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="icon-github-circled"></i>
                </a>
            </li>
            {% endif %}

            {% if site.instagram_username %}
            <li>
                    <a href="https://instagram.com/{{ site.instagram_username }}">
                        <i class="icon-instagram-1"></i>
                    </a>
            </li>
            {% endif %}

            {% if site.flickr_username %}
            <li>
                <a href="https://flickr.com/{{ site.flickr_username }}">
                    <i class="icon-flickr"></i>
                </a>
            </li>
            {% endif %}

            {% if site.lastfm_username %}
            <li>
                <a href="http://www.last.fm/user/{{ site.lastfm_username }}">
                    <i class="icon-lastfm"></i>
                </a>
            </li>
            {% endif %}

            {% if site.linkedin_username %}
            <li>
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                    <i class="icon-linkedin-1"></i>
                </a>
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="work" class="post work">
    <div class="row">
        <header class="page-header">
            <h1 class="post-title">Projects</h1>
        </header>

        <div class="wrapper">
            <article class="post-content">
                <ul class="projects small-block-grid-1 medium-block-grid-2">
                    {% for project in site.data.projects reversed %}
                    <li class="project">
                        <a href="{{ project.url }}" class="project-poster lazy" data-original="/img/{{ project.image }}" style="background-image: url('/img/transparent.png');"></a>
                        <div class="project-info">
                            <h2>
                                <a class="post-link" href="{{ project.url }}">{{ project.name }}</a>
                            </h2>
                            {% if project.repo %}<p class="project-meta"><a class="repo-link" href="http://github.com/{{ project.repo }}">View On GitHub</a></p>{% endif %}
                            <p class="project-description">{{ project.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </article>
        </div>
    </div>
</div>

<div id="resume" class="post resume">
    <div class="row">
        <header class="page-header">
            <h1 class="post-title">Résumé</h1>
        </header>

        <div class="wrapper">
            <article class="post-content">
                {{ content }}
            </article>
        </div>
    </div>
</div>
