---
layout: default
---

<div class="header">
  <div class="wrapper">
    <h2 class="logo">{% if page.title %}{{ page.title }}{% endif %}</h2>
    <p class="intro">{% if page.description %}{{ page.description }}{% endif %}</p>
    <ul class="nav">
      <li><a data-target="#work" href="#/work">Work</a></li>
      <li><a data-target="#resume" href="#/resume">Résumé</a></li>
    </ul>

    <ul class="social">
      {% if site.email %}
      <li><a href="mailto:{{ site.email }}"><i class="icon-mail-1"></i></a></li>
      {% endif %}

      {% if site.facebook_username %}
      <li><a href="https://facebook.com/{{ site.facebook_username }}"><i class="icon-facebook"></i></a></li>
      {% endif %}

      {% if site.github_username %}
      <li><a href="https://github.com/{{ site.github_username }}"><i class="icon-github-circled"></i></a></li>
      {% endif %}

      {% if site.instagram_username %}
      <li><a href="https://instagram.com/{{ site.instagram_username }}"><i class="icon-instagram-1"></i></a></li>
      {% endif %}

      {% if site.flickr_username %}
      <li><a href="https://flickr.com/{{ site.flickr_username }}"><i class="icon-flickr"></i></a></li>
      {% endif %}

      {% if site.lastfm_username %}
      <li><a href="http://www.last.fm/user/{{ site.lastfm_username }}"><i class="icon-lastfm"></i></a></li>
      {% endif %}

      {% if site.linkedin_username %}
      <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="icon-linkedin-1"></i></a></li>
      {% endif %}

      {% if site.twitter_username %}
      <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="icon-twitter"></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div id="work" class="work">
    <h2>Work</h2>
    <ul class="projects">
      {% for project in site.data.projects reversed %}
      <li class="project">
        <a href="{{ project.url }}" class="project-poster lazy" data-original="/img/{{ project.image }}" style="background-image: url('/img/transparent.png');"></a>
        <div class="project-info">
          <div class="project-header">
            <a class="post-link" href="{{ project.url }}">
              <h3>{{ project.name }}</h3>
              <p class="project-date">{{ project.date }}</p>
            </a>
            {% if project.repo %}<p class="project-meta"><a class="repo-link" href="http://github.com/{{ project.repo }}">View on GitHub</a></p>{% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
</div>

<div id="resume" class="resume">
  <div class="wrapper">
    <h2>Résumé</h2>
    {{ content }}
  </div>
</div>
